{% extends "HomeOfficeCtsBundle:CtsCase:layout.html.twig" %}

{% form_theme form 'GuftBundle:Default/partials:form.html.twig' %}

{% block CurrentTab %}Sign Off{% endblock %}

{% block metaTitle %}Approve No 10 Case {{ case.urn }}{% endblock %}

{% block overviewReturn %}{% endblock %}

{% block tab1 %}
    <a name="form_top"></a>
    {{ form_start(form, {'attr': {'class': 'form-ajax', 'data-casetype': case.correspondenceType}}) }}
        <h2>Original correspondence</h2>
        <p>Member: {{ case.member }}</p>

        <div class="panel">
            {% include 'HomeOfficeCtsBundle:CaseElements:uploadedDocuments.html.twig' with {
                'filterTypes': ['Original']
            } %}
        </div>
        <hr>

        <h2>Response</h2>

        <label class="form-label">Document(s)</label>
        <div class="documentTable panel"
             data-refresh-url="{{ path('homeoffice_cts_caseelements_documenttable', { 'nodeRef': case.nodeId }) }}"
             data-filter-types="Original attachments,Contribution,Background note,Response,Other"
             data-allow-remove="{{ caseIsStep(case, 'signOff') ? 'true' : 'false' }}"
        >
            {% include 'HomeOfficeCtsBundle:CaseElements:uploadedDocuments.html.twig' with {
                'filterTypes': ['Original attachments', 'Contribution', 'Background note', 'Response', 'Other'],
                'allowRemove': caseIsStep(case, 'signOff')
            } %}
        </div>

        {% if form['document'] is defined %}
            {% if caseIsStep(case, 'signOff') %}
                <div class="form-group">
                    {% include 'HomeOfficeCtsBundle:CaseElements:document.html.twig' with {
                        'form': form['document']
                    } %}
                </div>
            {% endif %}
            {% do form['document'].setRendered %}
        {% endif %}
        <hr>

        <h2>Sign off</h2>

        <div class="form-group">
            {% if form.transitions['SendForDispatch'] is defined %}
                <label class="form-label"><strong>Home Secretary's Private Office</strong></label>
                {{ form_widget(form.transitions['SendForDispatch']) }}

                {% if form['transitions']['Reject'] is defined %}
                    <button class="button button-secondary button-modal" data-href="{{ path('homeoffice_cts_ctscase_return', { 'nodeRef': case.nodeId }) }}">
                        {{ form['transitions']['Reject'].vars.label }}
                    </button>
                {% endif %}
            {% else %}
                {% if form.transitions['SendHSPrivateOfficeApprovalForHSSignOff'] is defined %}
                    <label class="form-label"><strong>Home Secretary's Private Office</strong></label>
                    {{ form_widget(form.transitions['SendHSPrivateOfficeApprovalForHSSignOff']) }}

                    <button class="button button-secondary button-modal" data-href="{{ path('homeoffice_cts_ctscase_return', { 'nodeRef': case.nodeId }) }}">
                        {{ form['transitions']['Return'].vars.label }}
                    </button>
                {% else %}
                    <label class="form-label"><strong>Home Secretary's Private Office</strong></label>
                    <label class="form-label form-approved">Approved</label>
                {% endif %}
            {% endif %}
        </div>

        {% do form['transitions'].setRendered %}
    {{ form_end(form) }}
{% endblock %}
