{% extends "HomeOfficeCtsBundle:Builder:layout.html.twig" %}

{% form_theme form 'GuftBundle:Default/partials:form.html.twig' %}

{% block CurrentTab %}Create{% endblock %}

{% block metaTitle %}Create DCU Treat Official Case {{ case.urn }}{% endblock %}

{% block guftForm %}
    <h2>Case details</h2>

    <div class="form-group">
        <label class="form-label">Case type</label>
        <div class="form-read correspondenceType">{{ constant('HomeOffice\\AlfrescoApiBundle\\Service\\CaseCorrespondenceSubType::'~case.correspondenceType) }}</div>
    </div>

    <div class="form-group">
        {{ form_label(form.dateReceived) }}
        {{ form_widget(form.dateReceived) }}
    </div>

    <div class="form-group">
        {{ form_label(form.dateOfLetter) }}
        {{ form_widget(form.dateOfLetter) }}
    </div>

    <div class="form-group">
        <label class="form-label">{{ form.channel.vars.label }}</label>
        {{ form_widget(form.channel) }}
    </div>

    {% include 'HomeOfficeCtsBundle:Builder:groups/linkedCase.html.twig' with {'form': form.linkedCases} %}
    <hr>

    <h2>Original correspondence</h2>
    <div class="documentTable panel"
         data-refresh-url="{{ path('homeoffice_cts_caseelements_documenttable', { 'nodeRef': case.nodeId }) }}"
         data-allow-remove="false"
    >
        {% include 'HomeOfficeCtsBundle:CaseElements:uploadedDocuments.html.twig' with { 'allowRemove': false } %}
    </div>

    {% if caseIsStep(case, 'create') %}
        <div class="form-group">
            {% include 'HomeOfficeCtsBundle:CaseElements:document.html.twig' with { 'form': form.document} %}
        </div>
    {% endif %}
    <hr>

    <h2>Reply to</h2>

    {% include 'HomeOfficeCtsBundle:Builder:groups/correspondent.html.twig' with {'replyToTitle': 'Correspondent'} %}

    <div class="form-group">
        {{ form_label(form.replyToNumberTenCopy) }}
        {{ form_widget(form.replyToNumberTenCopy) }}
    </div>

    {% if caseIsStep(case, 'create') %}
        <hr>
        {% if case.caseTask == 'Create case' %}
            <h2>Allocate for QA</h2>
            {% include 'HomeOfficeCtsBundle:Builder:groups/allocate.html.twig' %}
            {{ form_widget(form.Next, {'label': 'Send to QA' }) }}
            {{ form_widget(form.save) }}
        {% endif %}

        {% if case.caseTask == 'QA case' %}
            <h2>Approve for Markup</h2>
            {% include 'HomeOfficeCtsBundle:Builder:groups/allocate.html.twig' %}
            {{ form_widget(form.SendQACaseToMarkup) }}
            {% include 'HomeOfficeCtsBundle:CaseElements:reject.html.twig' %}
        {% endif %}

        {% if case.caseTask == 'Mark up' %}
            {% include 'HomeOfficeCtsBundle:Builder:groups/markup.html.twig' %}
        {% endif %}
    {% endif %}

    {% if caseIsStep(case, 'draft') %}
        <hr>
        {{ form_widget(form.save) }}
    {% endif %}
{% endblock %}
