{% if case.appeals %}
    <table>
        <thead>
        <tr>
            <th>Name</th>
            {% if not form['appealsCaseToRemove'].vars.read_only %}
                <th>Actions</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for appeal in case.appeals %}
            <tr class="linkedCase_{{ linkedCase.nodeId }}">
                <td>
                    <a href="{{ path('homeoffice_cts_case_view', { 'nodeRef': linkedCase.nodeId }) }}" target="_blank">
                        {{ linkedCase.urn }}
                    </a>
                </td>

                {% if not form['appealsCaseToRemove'].vars.read_only %}
                    <td>
                        <a href="#" class="linkedCase-remove" data-value="{{ linkedCase.nodeId }}">Remove</a>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ form_widget(form['removeAppealsCase']) }}
    {{ form_widget(form['appealsCaseToRemove']) }}
{% endif %}

{% do form.setRendered %}
