<div class="form-group">
    {{ form_label(form['markupTopic']) }}
    {{ form_widget(form['markupTopic']) }}

    {% if form['markupTopic'].vars.attr['data-standard-lines'] == true %}
        <div class="topic-standard-line">
            <a href="" class="hidden" style="text-decoration: underline;display:none" data-url="{{ path('homeoffice_cts_standardlines_downloadfortopic') }}">
                Download standard line
            </a>
        </div>
    {% endif %}
</div>

<div class="form-group">
    <a href="#" class="secondTopicTrigger secondTopicToggle">Add second topic</a>
    <a href="#" class="secondTopicTrigger secondTopicToggle hidden">Hide second topic</a>

    <div class=" secondTopicToggle hidden">
        {{ form_label(form['secondaryTopic']) }}
        {{ form_widget(form['secondaryTopic']) }}
        {% if form['secondaryTopic'].vars.attr['data-standard-lines'] == true %}
            <div class="topic-standard-line">
                <a href="" class=" hidden" style="text-decoration: underline;display:none" data-url="{{ path('homeoffice_cts_standardlines_downloadfortopic') }}">
                    Download standard line
                </a>
            </div>
        {% endif %}
    </div>
</div>