<div class="sibling-group">
    <div class="panel page-chunk" id="reply_to">
        <h2>Reply to</h2>
        <p>
            {% if (ctsCase.correspondenceType == 'IMCM' or ctsCase.correspondenceType == 'IMCB') and ctsCase.caseTask == 'Create case' %}
                <label>Member * :</label>
            {% else %}
                <label>Member:</label>
            {% endif %}
            <span>{{ ctsCase.member }}</span>
        {% if (displayMemberStopListIcon == 'true') %}
            <div class="full_width_label">
                <div class="stop_list_label">Stop list <b class="icon"></b></div>
            </div>
        {% endif %}
        </p>
        {% if ctsCase.correspondenceType == 'MIN' %}
        <p>
               <label>HS reply:</label>
                {% if (ctsCase.homeSecretaryReply) %}
                    <span> Yes </span>
                {% else %}
                    <span> No </span>
                {% endif %}
            </p>
        {% endif %}
        <p>
            <label>MP ref:</label>
            <span>{{ ctsCase.mpRef }}</span>
        </p>
        <p>
            <label>Name:</label>
            <span>{{ ctsHelper.wordWrap(ctsCase.replyToName, 22)|nl2br }}</span>
        </p>
        <p>
            <label>Address:</label>
            <span>{{ ctsHelper.wordWrap(ctsCase.replyToAddressLine1, 22)|nl2br }}</span>
        </p>
        <p>
            <span class="spacer"></span>
            <span>{{ ctsHelper.wordWrap(ctsCase.replyToAddressLine2, 22)|nl2br }}</span>
        </p>
        <p>
            <span class="spacer"></span>
            <span>{{ ctsHelper.wordWrap(ctsCase.replyToAddressLine3, 22)|nl2br }}</span>
        </p>
        <p>
            <label>Postcode:</label>
            <span>{{ ctsCase.replyToPostcode }}</span>
        </p>
        <p>
            <label>Country:</label>
            <span>{{ ctsCase.replyToCountry }}</span>
        </p>
        <p>
            <label>Telephone:</label>
            <span>{{ ctsCase.replyToTelephone }}</span>
        </p>
        <p>
            <label>Email:</label>
                <span>
                    <a href="mailto:{{ ctsCase.replyToEmail }}" title="{{ ctsCase.replyToEmail }}">{{ ctsCase.replyToEmail[:19] }}{% if ctsCase.replyToEmail[20:] %}&hellip;{%  endif %}</a></span>
        </p>
        {% if (ctsCase.correspondenceType == 'IMCM' or ctsCase.correspondenceType == 'IMCB') and ctsCase.caseTask == 'Create case' %}
            <p>
                <label>No.10:</label>
                {% if ctsCase.replyToNumberTenCopy %}
                    <span>Send a copy to No.10</span>
                {% else %}
                    <span>Don't send a copy to No.10</span>
                {% endif %}
            </p>
            <div class ="last">
                <p>* Mandatory Fields</p>
            </div>
        {% else %}
            <p class="last">
                <label>No.10:</label>
                {% if ctsCase.replyToNumberTenCopy %}
                    <span>Send a copy to No.10</span>
                {% else %}
                    <span>Don't send a copy to No.10</span>
                {% endif %}
            </p>
        {% endif %}
    </div>
    <div class="panel page-chunk" id="constituent_details">
        <h2>{% if ctsCase.correspondenceType == 'MIN' %}Constituent details{% else %}Correspondent details{% endif %}</h2>
        <p>
            <label>Title:</label>
            <span>{{ ctsCase.correspondentTitle }}</span>
        </p>
        <p>
            <label>Forename:</label>
            <span>{{ ctsHelper.wordWrap(ctsCase.correspondentForename, 22)|nl2br }}</span>
        </p>

        <p>
            <label>Surname:</label>
            <span>{{ ctsHelper.wordWrap(ctsCase.correspondentSurname, 22)|nl2br }}</span>
        </p>
        <p>
            <label>Address:</label>
            <span>{{ ctsHelper.wordWrap(ctsCase.correspondentAddressLine1, 22)|nl2br }}</span>
        </p>
        <p>
            <span class="spacer"></span>
            <span>{{ ctsHelper.wordWrap(ctsCase.correspondentAddressLine2, 22)|nl2br }}</span>
        </p>
        <p>
            <span class="spacer"></span>
            <span>{{ ctsHelper.wordWrap(ctsCase.correspondentAddressLine3, 22)|nl2br }}</span>
        </p>
        <p>
            <label>Postcode:</label>
            <span>{{ ctsCase.correspondentPostcode }}</span>
        </p>
        <p>
            <label>Country:</label>
            <span>{{ ctsCase.correspondentCountry }}</span>
        </p>
        <p>
            <label>Telephone:</label>
            <span>{{ ctsCase.correspondentTelephone }}</span>
        </p>
        <p class="last">
            <label>Email:</label>
            <span>
                <a href="mailto:{{ ctsCase.correspondentEmail }}" title="{{ ctsCase.correspondentEmail }}">{{ ctsCase.correspondentEmail[:19] }}{% if ctsCase.correspondentEmail[20:] %}&hellip;{%  endif %}</a>
            </span>
        </p>
    </div>
</div>
