<h2>3rd Party Correspondent</h2>
<div class="page-chunk basic_details">
    <p>
        <label>Title:</label>
        <span>{{ ctsCase.thirdPartyCorrespondentTitle }}</span>
    </p>
    <p>
        <label>Forename:</label>
        <span>{{ ctsHelper.wordWrap(ctsCase.thirdPartyCorrespondentForename, 22)|nl2br }}</span>
    </p>

    <p>
        <label>Surname:</label>
        <span>{{ ctsHelper.wordWrap(ctsCase.thirdPartyCorrespondentSurname, 22)|nl2br }}</span>
    </p>
    <p>
        <label>Organisation:</label>
        <span>{{ ctsCase.thirdPartyCorrespondentOrganisation }}</span>
    </p>
    <p>
        <label>Telephone:</label>
        <span>{{ ctsCase.thirdPartyCorrespondentTelephone }}</span>
    </p>
    <p>
        <label>Email:</label>
        <span>
            <a href="mailto:{{ ctsCase.thirdPartyCorrespondentEmail }}" title="{{ ctsCase.thirdPartyCorrespondentEmail }}">{{ ctsCase.thirdPartyCorrespondentEmail[:19] }}{% if ctsCase.thirdPartyCorrespondentEmail[20:] %}&hellip;{%  endif %}</a></span>
    </p>
</div>
<div class="page-chunk basic_details_2">
    <p class="push-down">
        <label>Address:</label>
        <span>{{ ctsHelper.wordWrap(ctsCase.thirdPartyCorrespondentAddressLine1, 22)|nl2br }}</span>
    </p>

    <p>
        <span class="spacer"></span>
        <span>{{ ctsHelper.wordWrap(ctsCase.thirdPartyCorrespondentAddressLine2, 22)|nl2br }}</span>
    </p>
    <p>
        <span class="spacer"></span>
        <span>{{ ctsHelper.wordWrap(ctsCase.thirdPartyCorrespondentAddressLine3, 22)|nl2br }}</span>
    </p>
    <p>
        <label>Postcode:</label>
        <span>{{ ctsCase.thirdPartyCorrespondentPostcode }}</span>
    </p>
    <p>
        <label>Country:</label>
        <span>{{ ctsCase.thirdPartyCorrespondentCountry }}</span>
    </p>
</div>