{% extends "GuftBundle:Default:layout.html.twig" %}

{% block title %}Forgotten your password?{% endblock %}

{% block searchButton %}{% endblock %}
{% block helpButton %}{% endblock %}
{% block signoutButton %}{% endblock %}
{% block dropdown %}{% endblock %}

{% block content %}
<section class="grid-row">
    <section class="column-full">
    {% block phasebanner %}{% endblock %}

    {% if errorBool %}
        <div class="global error">There was an error connecting to the server. Please try again or speak to a super user.</div>
    {% endif %}

        <div>
            {{ form_start(forgottenPasswordForm) }}
            {% form_theme forgottenPasswordForm 'GuftBundle:Default/partials:form.html.twig' %}
                <fieldset>
                    <div class="instructions">
                        <p>Please enter your registered email address to be sent a temporary password.</p>
                    </div>
                    <div>
                    </div>
                    <div class="form-group{% if form_errors(forgottenPasswordForm['username']) %} error{% endif %}">
                        {{ form_label(forgottenPasswordForm['username']) }}
                        {{ form_widget(forgottenPasswordForm['username']) }}
                        {{ form_errors(forgottenPasswordForm['username']) }}
                    </div>
                    <fieldset>
                        {{ form_row(forgottenPasswordForm.forgottenPasswordUsernameSubmit) }}
                        <span class="secondary-link">
                            <a href="{{ path('homeoffice_cts_home_home') }}">Cancel</a>
                        </span>
                    </fieldset>
                </fieldset>
            {{ form_end(forgottenPasswordForm) }}
        </div>

    </section>
</section>
{% endblock %}
