{#<div id="third_party_correspondent_details" class="panel wide">#}
    <h2>3rd Party Correspondent</h2>
    <fieldset class="basic_details">
        <div>
            {{ form_label(ctsCaseForm['thirdPartyCorrespondentTitle']) }}
            {{ form_widget(ctsCaseForm['thirdPartyCorrespondentTitle']) }}
        </div>
        <div>
            {{ form_label(ctsCaseForm['thirdPartyCorrespondentForename']) }}
            {{ form_widget(ctsCaseForm['thirdPartyCorrespondentForename']) }}
        </div>
        <div>
            {{ form_label(ctsCaseForm['thirdPartyCorrespondentSurname']) }}
            {{ form_widget(ctsCaseForm['thirdPartyCorrespondentSurname']) }}
        </div>
        <div>
            {{ form_label(ctsCaseForm['thirdPartyCorrespondentOrganisation']) }}
            {{ form_widget(ctsCaseForm['thirdPartyCorrespondentOrganisation']) }}
        </div>
        <div>
            {{ form_label(ctsCaseForm['thirdPartyCorrespondentTelephone']) }}
            {{ form_widget(ctsCaseForm['thirdPartyCorrespondentTelephone']) }}
        </div>
        <div>
            {{ form_label(ctsCaseForm['thirdPartyCorrespondentEmail']) }}
            {{ form_widget(ctsCaseForm['thirdPartyCorrespondentEmail']) }}
        </div>
    </fieldset>
    <fieldset class="basic_details_1">
        <div class="push-down button-after-input">{{ form_label(ctsCaseForm['thirdPartyCorrespondentPostcode']) }}
            {{ form_widget(ctsCaseForm['thirdPartyCorrespondentPostcode']) }}<a class="button find_address"><span>Find address</span></a>
        </div>
        <div>
            {{ form_label(ctsCaseForm['thirdPartyCorrespondentAddressLine1']) }}
            {{ form_widget(ctsCaseForm['thirdPartyCorrespondentAddressLine1']) }}
        </div>
        <div>
            {{ form_label(ctsCaseForm['thirdPartyCorrespondentAddressLine2']) }}
            {{ form_widget(ctsCaseForm['thirdPartyCorrespondentAddressLine2']) }}
        </div>
        <div>
            {{ form_label(ctsCaseForm['thirdPartyCorrespondentAddressLine3']) }}
            {{ form_widget(ctsCaseForm['thirdPartyCorrespondentAddressLine3']) }}
        </div>
        <div>
            {{ form_label(ctsCaseForm['thirdPartyCorrespondentCountry']) }}
            {{ form_widget(ctsCaseForm['thirdPartyCorrespondentCountry']) }}
        </div>
    </fieldset>
{#</div>#}
