{% extends "GuftBundle:Default:layout.html.twig" %}

{% form_theme form 'GuftBundle:Default/partials:form.html.twig' %}

{% block title %}{% endblock %}

{% block bc %}
    <section class="grid-row">
        <nav class="breadcrumbs">
            <ol>
                <li><a href="/">Home</a></li>
                <li><a href="{{ path('homeoffice_cts_documenttemplates_index') }}">Manage Templates</a></li>
                <li>Create New Template</li>
            </ol>
        </nav>
    </section>
{% endblock %}

{% block content %}
    <a name="content_top"></a>
    <section class="grid-row">
        <div class="column-two-thirds">
            {{ form_start(form, {'attr': {'class': 'form-ajax', 'novalidate' : 'novalidate' } }) }}
                <div class="form-group">
                    {{ form_label(form['templateName']) }}
                    {{ form_widget(form['templateName']) }}
                </div>

                <div class="form-group">
                    {{ form_label(form['appliesToCorrespondenceType']) }}
                    {{ form_widget(form['appliesToCorrespondenceType']) }}
                </div>

                <div class="form-group">
                    {{ form_label(form['validFromDate']) }}
                    {{ form_widget(form['validFromDate']) }}
                </div>

                <div class="form-group">
                    {{ form_label(form['validToDate']) }}
                    {{ form_widget(form['validToDate']) }}
                </div>

                {% if form['file'] is defined %}
                    <div class="form-group">
                        {{ form_label(form['file']) }}
                        {{ form_widget(form['file']) }}
                        <button class="button-tertiary toggleFile" data-toggle="#{{ form['file'].vars.id }}">
                            Browse
                        </button>
                        <span id="uploadFileName"></span>
                    </div>
                {% endif %}
            {{ form_end(form) }}
        </div>
    </section>
{% endblock %}
