<div class="markupReferToggle">
    {{ form_widget(form['ReferToDCU']['ogdName']) }}

    <div class="form-group">
        {{ form_label(form['ReferToDCU']['referComment']) }}
        {{ form_widget(form['ReferToDCU']['referComment']) }}
    </div>

    <div class="form-group">
        {{ form_label(form['ReferToDCU']['markupCloseRefer']) }}
        {{ form_widget(form['ReferToDCU']['markupCloseRefer']) }}
    </div>
</div>