{% extends "HomeOfficeCtsBundle:Builder:layout.html.twig" %}

{% form_theme form 'GuftBundle:Default/partials:form.html.twig' %}

{% block CurrentTab %}Dispatch{% endblock %}

{% block metaTitle %}FOI Case {{ case.urn }}{% endblock %}

{% block guftForm %}
    <h2>Original correspondence</h2>
    <p>Correspondent: {{ case.correspondentFullName }}</p>

    <div class="panel">
        {% include 'HomeOfficeCtsBundle:CaseElements:uploadedDocuments.html.twig' with {
            'filterTypes': ['Original']
        } %}
    </div>
    <hr>

    <h2>Response</h2>
    {% if case.channel %}
        <div class="form-group">
            <label class="form-label">Original channel</label>
            <div class="form-read">{{ case.channel }}</div>
        </div>
    {% endif %}


    {% if form['hmpoResponse'] is defined %}
        <div class="form-group">
            <label class="form-label">{{ form['hmpoResponse'].vars.label }}</label>
            {{ form_widget(form['hmpoResponse']) }}
        </div>
    {% endif %}

    <label class="form-label">Document(s)</label>
    <div class="documentTable panel"
         data-refresh-url="{{ path('homeoffice_cts_caseelements_documenttable', { 'nodeRef': case.nodeId }) }}"
         data-filter-types="Original attachments,Contribution,Background note,Response,Other"
         data-allow-remove="{{ caseIsStep(case, 'dispatch') ? "true" : "false" }}"
    >
        {% include 'HomeOfficeCtsBundle:CaseElements:uploadedDocuments.html.twig' with {
            'filterTypes': ['Original attachments', 'Contribution', 'Background note', 'Response', 'Other'],
            'allowRemove': caseIsStep(case, 'dispatch')
        } %}
    </div>

    {% if caseIsStep(case, 'dispatch') %}
        <div class="form-group">
            {% include 'HomeOfficeCtsBundle:CaseElements:document.html.twig' with { 'form': form['document']} %}
        </div>
    {% endif %}
    <hr>

    <div class="form-group">
        {{ form_label(form['responseDate']) }}
        {{ form_widget(form['responseDate']) }}
    </div>

    {% if form['Dispatch'] is defined %}
        {{ form_widget(form['Dispatch'], { 'label': 'Dispatched' }) }}
    {% endif %}
{% endblock %}
